server {
  listen 80;

  location / {
    root /usr/share/nginx/html;
    try_files $uri /index.html;
  }

  # Products
  location /api/products/ { proxy_pass ${PRODUCT_ORIGIN}/products/; proxy_set_header Host $host; proxy_http_version 1.1; }
  location /api/products  { proxy_pass ${PRODUCT_ORIGIN}/products;  proxy_set_header Host $host; proxy_http_version 1.1; }

  # Auth (user-service)
  location /api/auth/     { proxy_pass ${USER_ORIGIN}/auth/;        proxy_set_header Host $host; proxy_http_version 1.1; }
  location /api/auth      { proxy_pass ${USER_ORIGIN}/auth;         proxy_set_header Host $host; proxy_http_version 1.1; }

  # Orders
  location /api/orders/   { proxy_pass ${ORDER_ORIGIN}/orders/;     proxy_set_header Host $host; proxy_http_version 1.1; }
  location /api/orders    { proxy_pass ${ORDER_ORIGIN}/orders;      proxy_set_header Host $host; proxy_http_version 1.1; }

  # Payment (not used by UI directly, but available)
  location /api/pay/      { proxy_pass ${PAYMENT_ORIGIN}/pay/;      proxy_set_header Host $host; proxy_http_version 1.1; }
  location /api/pay       { proxy_pass ${PAYMENT_ORIGIN}/pay;       proxy_set_header Host $host; proxy_http_version 1.1; }
}
